.elements__list {
    max-width: 880px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-template-rows: repeat(auto-fill, 362px);
    gap: 17px;
    margin: 0 0 66px 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 924px) {
    .elements__list {
        max-width: 585px;
    }
}

@media screen and (max-width:600px) {
    .elements__list {
        max-width: 320px;
        grid-template-columns: repeat(auto-fill, 320px);
    }   
}

@media screen and (max-width:360px) {
    .elements__list {
        max-width: 282px;
        grid-template-columns: repeat(auto-fill, 282px);
    }
}