.popup {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s linear;
}
/*Псевдокласс используется по совету наставника , и был использован в предыдущем проекте в блоке "Cover" где не был признан ошибкой*/
.popup::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    background: #000000;
}

@media screen and (max-width:600px) {
    .popup {
        align-items: flex-start;
    }
}